﻿@using Sitecore81.Core.Glass;
@using Sitecore81.Core.Helper;
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<object>

@if (Model is IGenericButtonTile)
{
    var tile = (IGenericButtonTile)Model;
    var addedClasses = string.Join(" ", tile.CssClasses
        .Where(c => !string.IsNullOrEmpty(c.Class))
        .Select(c => c.Class));


    if (tile.Button_Type != null && tile.Button_Type.ButtonType != "none" && !string.IsNullOrEmpty(tile.Button_Type.ButtonType))
    {
        <div class="generic-button-tile @addedClasses @tile.AdditionalCss" style="@tile.InLineCssStyling">
            <a href="@tile.Destination.GetLinkUrl()" aria-label="@tile.Button_Text">
                @if (tile.Button_Type.ButtonType == "button link")
                {
                    <div class="btn btn-default">@Html.Raw(tile.Button_Text)</div>
                }
                @if (tile.Button_Type.ButtonType == "link text")
                {
                    @Html.Raw(tile.Button_Text);
                }
            </a>
        </div>
    }
}