﻿@using Sitecore81.Core.Glass;
@using Sitecore81.Core.Helper;
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Sitecore81.Core.RenderingParameters.LandingPageIntroWithVideoRenderingModel>

@{
    var destinationUrl = Model.Bottom_CTA_Destination != null ? Model.Bottom_CTA_Destination.Url : "";
    var bgImageSrc = Model.Background_Image != null ? Model.Background_Image.Src : "";
}

<div class="lp-intro-with-video">
    <div class="section bg-image-blurred-edge" style="background-image: url(@Model.Background_Image.GetSrc());">
        <div>
            <h1 class="headline1">@Html.Raw(Model.Headline_Line_1)</h1>
            <h1 class="headline2">@Html.Raw(Model.Headline_Line_2)</h1>
        </div>
        @if (!string.IsNullOrEmpty(Model.Video_Url) || Sitecore.Context.PageMode.IsExperienceEditor)
        {
            <div class="video-cta">
                <div class="video-play-icon"></div>
                <div>@Html.Raw(Model.Video_CTA_Text)</div>
            </div>

            <div class="modal fade" id="video-modal" tabindex="-1" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            @Html.Raw(Model.Video_Url)
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="section lp-content">
        <h2 class="description-header">@Html.Raw(Model.Description_Header)</h2>
        <div class="description-text">@Html.Raw(Model.Description_Text)</div>
        <div class="description-lower">@Html.Raw(Model.Description_Lower_Text)</div>
        @if ((!string.IsNullOrEmpty(Model.Bottom_CTA_Text) && !string.IsNullOrEmpty(destinationUrl))
            || Sitecore.Context.PageMode.IsExperienceEditor)
        {
            <div class="bottom-cta">
                <a href="@destinationUrl">@Html.Raw(Model.Bottom_CTA_Text)</a>
                <span>@Html.Raw("&#8595;")</span>
            </div>
        }
    </div>
</div>
