﻿@using System.Linq;
@using System.Data.Linq;
@using Sitecore81.Core.Glass;
@using Sitecore81.Core.Helper;
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Sitecore81.Core.Model.LandingPageMediaSectionModel>

<div class="landing-media-section">
    <div class="row">
        <div class="col-lg-9 col-xs-12 headline">
            <h2>@Html.Raw(Model.UpperHeadline)</h2>
            <h1>@Html.Raw(Model.LowerHeadline)</h1>
        </div>
        <div class="col-lg-3 col-xs-12">
            <div class="copy-wrapper">@Html.Raw(Model.Copy)</div>
        </div>
    </div>
    <div class="row">
        @foreach(var vid in Model.Videos)
        {
            <div class="@Model.colClass">
                <a href="#" class="play-video" data-videoEmbed="@vid.VideoEmbedCode">
                    <div class="preview-thumbnail" style="background-image: url(@vid.BackgroundImage.GetSrc())">
                        @if(Model.PlayButtonMediaItem != null)
                        {
                            <img src="@Model.PlayButtonMediaUrl" alt="@Model.PlayButtonMediaItem.Alt" class="play-icon" />
                        }
                        <div class="video-copy">
                            <p class="video-description">@Html.Raw(vid.ForegroundText)</p>
                            <p class="video-subtext">@Html.Raw(vid.SubText)</p>
                        </div>

                        <img src="@vid.BackgroundImage.GetSrc()" class="hdn-img" />
                    </div>
                </a>
            </div>
        }
    </div>
</div>

<div class="modal fade" id="landing-video-section-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                
            </div>
        </div>
    </div>
</div>

<script>
    window.onload = function (e)
    {
        $(".play-video").on("click", function (e) {
            e.preventDefault();
            var element = $(e.target);
            if ($(e.target).hasClass("play-video") === false)
                element = $(e.target).closest(".play-video");

            $("#landing-video-section-modal .modal-body").html($(element).data("videoembed"));
            $("#landing-video-section-modal").modal();
        });
    }
</script>