﻿@using Sitecore81.Core.Glass;
@using Sitecore81.Core.Helper;
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<object>

@if (Model is IGeneric_Rich_Text_Tile)
{
    var tile = (IGeneric_Rich_Text_Tile)Model;
    var guidId = Guid.NewGuid();
    var addedClasses = string.Join(" ", tile.CssClasses
        .Where(c => !string.IsNullOrEmpty(c.Class))
        .Select(c => c.Class));
    var bgImageStyle = !string.IsNullOrEmpty(tile.BackgroundImage.GetSrc())
        ? "background: url('" + tile.BackgroundImage.Src + "'); background-size: 100% 100%;" : "";

    <div class="generic-rte @guidId height-100 @addedClasses @tile.AdditionalCss" style="@bgImageStyle @tile.InLineCssStyling ">
        <div>@Editable(tile, t => t.Copy)</div>
    </div>
}