﻿.row.no-margin {
    margin: 0; }
.row.row-margin-left-15px {
    margin-left: -15px !important; }
.row.row-margin-right-15px {
    margin-right: 15px !important; }
.row.row-equal-height {
    display: flex;
    display: -webkit-flex; }
.height-100 {
    height: 100%; }
.nopadding {
   padding: 0 !important;
   margin: 0 !important; }
.border-none {
    border: none !important; }
b.li-side-nav-bold {
    font-size: 1.1em; }
.white-bg {
    background-color: #fff;
    padding: 30px;
    padding-bottom: 50px;
}
div.flex-center {
    display: flex;
    align-items: center;
    justify-content: center; }
div.center-box {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h1.futura-pt-bold {
    font-family: futura-pt-bold, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 45pt; }
h2.futura-pt-bold {
    font-family: futura-pt-bold, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30pt; }


#hero.hero-prominent-text,
#hero.hero-prominent-text p {
    font-size: 18pt;
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    color: #000; }
    #hero.hero-prominent-text p {
        color: #474a4f; }
    #hero.hero-prominent-text h1 {
        font-family: futura-pt-bold, sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 45pt;
        line-height: 1;
        color: #000;
        text-transform: uppercase; }
    #hero.hero-prominent-text .content {
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%); }
    @media (max-width: 1000px) {
        #hero.hero-prominent-text h1 {
            font-size: 40pt; }
        #hero.hero-prominent-text,
        #hero.hero-prominent-text p {
            font-size: 14pt; } }
    @media (max-width: 768px) {
        #hero.hero-prominent-text h1 {
            font-size: 40pt; }
        #hero.hero-prominent-text,
        #hero.hero-prominent-text p {
            font-size: 12pt; } 
        #hero.hero-prominent-text .content {
            top: auto;
            transform: none;
            -webkit-transform: none;
            -moz-transform: none;
            -ms-transform: none;
            -o-transform: none; } }
    #hero .hero-btn {
        display: inline-block;
        margin-top: 20px;
        margin-right: 20px;}
    #hero .back-btn {
        display: inline-block; }
        #hero .back-btn a {
            color: #474a4f;
            margin-top: 20px;
            font-size: 12pt;
            text-decoration: none; }
    #hero.text-links-green p a {
        color: #14753f;
        text-decoration: none;
        border-bottom: 1px solid #14753f;
        transition: color .3s ease-in-out, background-color .3s ease-in-out;
        -moz-transition: color .3s ease-in-out, background-color .3s ease-in-out;
        -webkit-transition: color .3s ease-in-out, background-color .3s ease-in-out;
        -o-transition: color .3s ease-in-out, background-color .3s ease-in-out;  }
        #hero.text-links-green p a:hover {
            color: #6c6c6c;
            border-color: #6c6c6c;  }

/*Class that resets back to standard hero props in mobile view*/
#hero.hero-prominent-text.mobile-view-default {}
    @media (max-width: 600px) {
        #hero.hero-prominent-text.mobile-view-default h1 {
            font-family: futura-pt-bold, sans-serif;
            font-weight: 700;
            font-size: 36px;
            margin-bottom: 10px;
            line-height: 1.1;
            text-transform: uppercase; }
        #hero.hero-prominent-text.mobile-view-default,
        #hero.hero-prominent-text.mobile-view-default p {
            font-size: 14px;
            line-height: 1.428571429; } }
    @media (max-width: 770px) {
        #hero.hero-prominent-text.mobile-view-default .img-sub-t   {
            display: inherit; } }

.faded-hero {
    background-color: #fff; }
    .faded-hero .faded-hero-image-mobile {
      max-width: 100%; 
      margin: auto;  }
    .faded-hero faded-hero-image-mobile img {
      /*  To contain the image to the confines of the div  */
      max-width: 100%; }
    @media (max-width: 1000px) {
        #hero.faded-hero .content {
            top: auto !important; }
        .faded-hero .content {
            top: -40px !important; }
        .faded-hero .faded-hero-image-mobile::after {
          display: block;
          position: relative;
          background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #fff 100%);
          margin-top: -145px;
          height: 150px;
          width: 100%;
          content: '';  } }


.generic-media-tile {
  /*background: #dadada;*/
  height: 100%; }
    @media (max-width: 1000px) {
      .generic-media-tile .img-d {
        display: none; } }
    .generic-media-tile .img-t {
      display: none; }
      @media (max-width: 1000px) {
        .generic-media-tile .img-t {
          display: block; } }
      @media (max-width: 768px) {
        .generic-media-tile .img-t {
          display: none; } }
    .generic-media-tile .img-m {
      display: none; }
      @media (max-width: 768px) {
        .generic-media-tile .img-m {
          display: block; } }
    .video-container { 
      position: relative;
      padding-bottom: 56.25%;
      padding-top: 0; 
      height: 100%; 
      overflow: hidden; }
        .video-container iframe,
        .video-container object,
        .video-container embed {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%; }
        .video-container .ytp-thumbnail-overlay-image {
            height: 102%; }

/*
    Generic tiling styles
    Generally added to dynamic components through Sitecore
*/
.generic-container,
.generic-tile-row { max-width: 100% }
.generic-tile-row.linked { cursor: pointer; }
/*Generic tile backgrounds*/
.generic .background-color-black {
    background-color: #000; }
.generic .background-color-white {
    background-color: #fff; }
.generic .background-color-personal-green {
    background-color: #71CC98; }
.generic .background-color-green {
    background-color: #00B74F; }
.generic .background-color-blue-004c97 {
    background-color: #004c97; }
.generic .background-color-navyblue-1a2e45 {
    background-color: #1a2e45;}
    
/*Generic tile fonts*/
.generic .font-type-proximanova {
    font-family: proxima-nova, Arial; }
.generic .font-type-futura-bold {
    font-family: futura-pt-bold, sans-serif;
    font-style: normal;
    font-weight: 700; }
.generic .h1-font-type-futura-bold h1{
    font-family: futura-pt-bold, sans-serif;
    font-style: normal;
    font-weight: 700; }

/*Generic tile font changes*/
.generic .font-color-black,
.generic .font-color-black p {
    color: #000; }
.generic .font-color-white,
.generic .font-color-white p,
.generic .font-color-white a {
    color: #fff; }
.generic .font-color-6c6c6c,
.generic .font-color-6c6c6c p {
    color: #6c6c6c }
.generic .font-color-6b6b6b,
.generic .font-color-6b6b6b p {
    color: #6b6b6b; }
.generic .font-color-ee7d22,
.generic .font-color-ee7d22 p {
    color: #ee7d22 }
.generic .font-color-00B74F,
.generic .font-color-00B74F p {
    color: #00B74F }
.generic .font-color-046A38,
.generic .font-color-046A38 p {
    color: #046A38 }
.generic .font-color-9B2743,
.generic .font-color-9B2743 p {
    color: #9B2743 }
.generic .font-color-004C97,
.generic .font-color-004C97 p {
    color: #004C97 }
.generic .font-color-671E75,
.generic .font-color-671E75 p {
    color: #671E75 }
.generic .font-color-41B6E6,
.generic .font-color-41B6E6 p {
    color: #41B6E6 }
.generic .font-color-navyblue-1a2e45,
.generic .font-color-navyblue-1a2e45 p,
.generic .font-color-navyblue-1a2e45 a,
.generic .font-color-navyblue-1a2e45 h1,
.generic .font-color-navyblue-1a2e45 h2 {
    color: #1a2e45; }
.generic .font-h1-color-black h1 {
    color: #000; }
.generic .font-h1-color-white h1 {
    color: #fff; }
.generic .font-h1-color-6c6c6c h1 {
    color: #6c6c6c }
.generic .font-h1-color-navyblue-1a2e45 h1 {
    color: #1a2e45; }
.generic .links-6c6c6c-hover-046A38 a { color: #6c6c6c; }
.generic .links-6c6c6c-hover-046A38 a:hover { color: #046A38; }

.generic .h1-font-size-72pt h1 {
    font-size: 72pt; }
    @media (min-width: 0) and (max-width: 599px) { .generic .h1-font-size-72pt h1 { font-size: 34pt; } }
    @media (min-width: 600px) and (max-width: 750px) { .generic .h1-font-size-72pt h1 { font-size: 40pt; } }
    @media (min-width: 751px) and (max-width: 900px) { .generic .h1-font-size-72pt h1 { font-size: 45pt; } }
.generic .h1-font-size-45pt h1 {
    font-size: 45pt; }
    @media (min-width: 0) and (max-width: 599px) { .generic .h1-font-size-45pt h1 { font-size: 28pt; } }
    @media (min-width: 600px) and (max-width: 750px) { .generic .h1-font-size-45pt h1 { font-size: 34pt; } }
    @media (min-width: 751px) and (max-width: 900px) { .generic .h1-font-size-45pt h1 { font-size: 40pt; } }
.generic .h1-font-size-40pt h1 {
    font-size: 40pt; }
    @media (min-width: 0) and (max-width: 599px) { .generic .h1-font-size-40pt h1 { font-size: 24pt; } }
    @media (min-width: 600px) and (max-width: 750px) { .generic .h1-font-size-40pt h1 { font-size: 28pt; } }
    @media (min-width: 751px) and (max-width: 900px) { .generic .h1-font-size-40pt h1 { font-size: 34pt; } }
.generic .h1-font-size-30pt h1 {
    font-size: 30pt; }
    @media (min-width: 0) and (max-width: 599px) { .generic .h1-font-size-30pt h1 { font-size: 14pt; } }
    @media (min-width: 600px) and (max-width: 750px) { .generic .h1-font-size-30pt h1 { font-size: 20pt; } }
    @media (min-width: 751px) and (max-width: 900px) { .generic .h1-font-size-30pt h1 { font-size: 25pt; } }
.generic .font-size-45pt {
    font-size: 45pt }
    @media (min-width: 0) and (max-width: 599px) { .generic .font-size-45pt { font-size: 28pt; } }
    @media (min-width: 600px) and (max-width: 750px) { .generic .font-size-45pt { font-size: 34pt; } }
    @media (min-width: 751px) and (max-width: 900px) { .generic .font-size-45pt { font-size: 40pt; } }
.generic .font-size-40pt {
    font-size: 40pt }
    @media (min-width: 0) and (max-width: 599px) { .generic .font-size-40pt { font-size: 24pt; } }
    @media (min-width: 600px) and (max-width: 750px) { .generic .font-size-40pt { font-size: 28pt; } }
    @media (min-width: 751px) and (max-width: 900px) { .generic .font-size-40pt { font-size: 34pt; } }
.generic .font-size-30pt {
    font-size: 30pt }
    @media (min-width: 0) and (max-width: 599px) { .generic .font-size-30pt { font-size: 14pt; } }
    @media (min-width: 600px) and (max-width: 750px) { .generic .font-size-30pt { font-size: 20pt; } }
    @media (min-width: 751px) and (max-width: 900px) { .generic .font-size-30pt { font-size: 25pt; } }
.generic .font-size-20pt {
    font-size: 20pt}
.generic .font-size-18pt {
    font-size: 18pt }
.generic .font-size-16pt {
    font-size: 16pt; }
.generic .font-size-15pt {
    font-size: 15pt; }
.generic .font-size-14pt {
    font-size: 14pt }
.generic .font-size-13pt {
    font-size: 13pt }
.generic .font-size-12pt {
    font-size: 12pt }
.generic .font-size-10pt {
    font-size: 10pt }
.generic .font-size-9pt {
    font-size: 9pt }
.generic .btn-font-size-20pt .btn,
.generic .btn-font-size-20pt a{
    font-size: 20pt;}
.generic .btn-font-size-18pt .btn,
.generic .btn-font-size-18pt a{
    font-size: 18pt;}
.generic .btn-font-size-16pt .btn,
.generic .btn-font-size-16pt a{
    font-size: 16pt;}
.generic .btn-font-size-15pt .btn,
.generic .btn-font-size-15pt a{
    font-size: 15pt;}
.generic .btn-font-size-14pt .btn,
.generic .btn-font-size-14pt a{
    font-size: 14pt}
.generic .btn-font-size-13pt .btn,
.generic .btn-font-size-13pt a{
    font-size: 13pt}
.generic .btn-font-size-12pt .btn,
.generic .btn-font-size-12pt a{
    font-size: 12pt}
.generic .btn-font-size-10pt .btn,
.generic .btn-font-size-10pt a{
    font-size: 10pt}
.generic .btn-font-size-9pt .btn,
.generic .btn-font-size-9pt a{
    font-size: 9pt}
.generic .font-size-85percent {
    font-size: 85% }
.generic .font-weight-700,
.generic .font-weight-700 a
.generic .font-weight-700 p, 
.generic .font-weight-700 h1,
.generic .font-weight-700 h2,
.generic .font-weight-700 h3,
.generic .font-weight-700 h4{
    font-weight: 700; }
    
.generic .font-transform-uppercase {
    text-transform: uppercase; }
.generic .font-decoration-underline {
    text-decoration: underline; }
    .generic .font-decoration-underline a:hover {
        text-decoration: none; }
.generic .generic-position-absolute {
    position: absolute;  }

/*Generic Alignment*/
.generic .generic-align-left,
.generic .generic-align-left p {
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
    left: 0;
    right: auto;
    text-align: left; }
.generic .generic-align-right,
.generic .generic-align-right p {
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
    left: auto;
    right: 0;
    text-align: right; }
.generic .generic-align-center,
.generic .generic-align-center p {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; }
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        .generic .generic-align-center > div {
            width: 100%; } }
.generic .generic-align-center-margin-0-auto,
.generic .generic-align-center-margin-0-auto p {
    margin: 0 auto; }
.generic .disable-flex-wrapping {
    display: block;
    flex: none; }

/*Generic tile Spacing*/
.generic .width-100-percent {
    width: 100% }
.generic .width-80-percent {
    width: 80%; }
.generic .width-70-percent {
    width: 70%; }
.generic .width-50-percent {
    width: 50%; }
.generic .height-100-percent {
    height: 100%; }
.generic .height-50-percent {
    height: 50%; }
.generic .padding-5-percent {
    padding: 5%; }
.generic .padding-10-percent {
    padding: 10%; }
.generic .padding-15-percent {
    padding: 15%; }
.generic .padding-20-percent {
    padding: 20%; }
.generic .padding-30px-top {
    padding-top: 30px; }
.generic .padding-50px-top {
    padding-top: 50px; }
.generic .padding-30px-bottom {
    padding-bottom: 30px; }
.generic .padding-50px-bottom {
    padding-bottom: 50px; }
.generic .padding-30px-left {
    padding-left: 30px; }
.generic .padding-30px-right {
    padding-right: 30px; }
.generic .padding-10px-top {
    padding-top: 10px; }
.generic .padding-10px-bottom {
    padding-bottom: 10px; }
.generic .padding-15px-top {
    padding-top: 15px; }
.generic .padding-15px-bottom {
    padding-bottom: 15px; }
.generic .padding-15px-left {
    padding-left: 15px; }
.generic .padding-5percent-left {
    padding-left: 5%;}
.generic .padding-10percent-left {
    padding-left: 10%; }
.generic .padding-15percent-left {
    padding-left: 15%; }
.generic .padding-20percent-left {
    padding-left: 20%; }
.generic .padding-15px-right {
    padding-right: 15px; }
.generic .padding-5percent-right {
    padding-right: 5%; }
.generic .padding-10percent-right {
    padding-right: 10%; }
.generic .padding-15percent-right {
    padding-right: 15%; }
.generic .padding-20percent-right {
    padding-right: 20%; }
.generic .margin-p-0 p {
    margin: 0; }
.generic .margin-bottom-10px {
    margin-bottom: 10px; }
.generic .margin-bottom-20px {
    margin-bottom: 20px; }
.generic .margin-bottom-30px {
    margin-bottom: 30px; }
.generic .margin-top-10px {
    margin-top: 10px; }
.generic .margin-top-20px {
    margin-top: 20px; }
.generic .margin-top-30px {
    margin-top: 30px; }
.generic .margin-top-n10px {
    margin-top: -10px; }
.generic .margin-top-n20px {
    margin-top: -20px;  }
.generic .margin-top-n30px {
    margin-top: -30px; }
.generic .min-height-100 {
    min-height: 100px; }
.generic .min-height-200 {
    min-height: 200px; }
.generic .min-height-300 {
    min-height: 300px; }
.generic .min-height-400 {
    min-height: 400px; }
.generic .min-height-500 {
    min-height: 500px; }

@media (min-width:1001px) {.generic img.generic-bg-img-desktop { display: none; visibility: hidden; }}
@media (max-width:1000px) {.generic img.generic-bg-img-desktop { display: none; visibility: hidden; }}
@media (max-width: 750px) {.generic img.generic-bg-img-desktop { display: none; visibility: hidden; }}

/*Generic Special*/
@media (max-width: 600px) {.generic .hide-on-mobile-600px {display: none !important; } }
@media (max-width: 700px) {.generic .hide-on-mobile-700px { display: none !important; } }
.generic .center-link-and-immediate-content a {
    width: 100%;
    height: 100%;}
    .generic .center-link-and-immediate-content a > p,
    .generic .center-link-and-immediate-content a > div {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
.generic .opacity-half {
    opacity: 0.5;}

/*Generic button Style*/
.generic .btn {
    transition: color .3s ease-in-out, background-color .3s ease-in-out;
    -moz-transition: color .3s ease-in-out, background-color .3s ease-in-out;
    -webkit-transition: color .3s ease-in-out, background-color .3s ease-in-out;
    -o-transition: color .3s ease-in-out, background-color .3s ease-in-out; }
.generic .button-radius-4px .btn {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px; }
.generic .button-radius-0 .btn {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0; }
.btn-black-strokes-fade-to-white .btn{
    color: #000;
    background-color: transparent;
    border: 2px solid #000; }
    .btn-black-strokes-fade-to-white .btn:hover {
        color: #fff !important;
        border-color: #fff !important;
        background-color: transparent !important; }
.btn-navyblue-strokes-fade-to-white .btn{
    color: #1a2e45;
    background-color: transparent;
    border: 2px solid #1a2e45; }
    .btn-navyblue-strokes-fade-to-white .btn:hover {
        color: #fff !important;
        border-color: #fff !important;
        background-color: transparent !important; }
.btn-green-outline .btn {
    background-color: #fff;
    color: #046A38;
    border: 2px solid #046A38; }
    .btn-green-outline .btn:hover {
        background-color: #046A38 !important;
        color: #fff !important; }
.dark-green-button .btn{
    background-color: #046A38;
    color: #fff;
    border: none;
    vertical-align: middle;
    padding: 15px 20px; }
    .dark-green-button .btn:hover {
        background-color: #6c6c6c;
        color: #fff; }
.dark-green-button .btn a {
    background-color: transparent;
    color: #fff; }
    .dark-green-button .btn a:hover {
        background-color: transparent;
        text-decoration: none;
        color: #fff; }
.btn-dark-green-hovers-white .btn{
    color: #fff;
    background-color: #046A38;
    border: 2px solid #046A38; }
    .btn-dark-green-hovers-white .btn:hover {
        background-color: #fff !important;
        color: #046A38 !important; }
.btn-dark-green-hovers-transparent .btn{
    color: #fff;
    background-color: #046A38;
    border: 2px solid #046A38; }
    .btn-dark-green-hovers-transparent .btn:hover {
        background-color: transparent !important;
        color: #046A38 !important; }
.green-button button {
    background-color: #00B74F;
    color: #fff;
    border: none;
    vertical-align: middle;
    padding: 15px 20px; }
    .green-button button:hover {
        background-color: #6c6c6c;
        color: #fff; }
.btn-white-green-border {
    background-color: #fff;
    color: #046A38;
    border: 2px solid #046A38; }
    .btn-white-green-border.green-btn-hover:hover {
        background-color: #046A38 !important;
        color: #fff !important; }
    

/*Flexing media queries for generic row*/
@media (min-width: 0) and (max-width: 599px) {
  .flex-row-xsm-level {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (min-width: 600px) and (max-width: 767px) {
  .flex-row-sm-level {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .flex-row-md-level {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .flex-row-lg-level-992-1200 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (min-width: 992px) {
  .flex-row-lg-level {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (min-width: 1201px) {
  .flex-row-xlg-level {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

/*Specific Use Case*/
.generic .bentley-links-row:hover {
    opacity: 1;
    background-image: url('/Images/arrow_down_wEllipses.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-position-y: 90%;
}