﻿.landing-media-section { color: #1a2e45;background-color: #ebebeb;padding: 100px 10% 40px 10%; }
.landing-media-section > .row {margin-bottom: 50px; width: 100%;}
.landing-media-section .headline { font-weight: 700; padding-left:8%; padding-right:8%;}
.landing-media-section .headline h1 {font-weight: 700;font-size: 90pt;line-height: 0.8;padding-left: 5%;padding-right: 5%; margin-bottom: 30px;}
@media (max-width: 700px) {.landing-media-section .headline h1 {font-size: 60pt}}
@media (max-width: 400px) {.landing-media-section .headline h1 {font-size: 40pt}}
.landing-media-section .headline h2 { font-style: italic; font-size: 36pt; }
@media (max-width: 700px) {.landing-media-section .headline h2 {font-size: 24pt}}
.landing-media-section .copy-wrapper {position:absolute; bottom: 0; }
@media (max-width:1000px){.landing-media-section .copy-wrapper {position:relative; bottom: 0; }}
.landing-media-section a .preview-thumbnail,
.landing-media-section a .preview-thumbnail p
.landing-media-section a .preview-thumbnail :hover{ color: #fff; text-decoration:none;}
.landing-media-section .preview-thumbnail { color: #fff; background-size: cover; background-size: 100%; background-repeat: no-repeat; margin-bottom: 20px;}
.landing-media-section .preview-thumbnail .hdn-img { width: 100%; visibility: hidden; }
.landing-media-section .preview-thumbnail .video-copy { position: absolute; bottom: 0;padding: 4% 10% 4% 8%; line-height: 1.1;}
.landing-media-section .preview-thumbnail .video-copy > .video-description {font-weight: bold; font-size: 18pt; margin-bottom:0;}
@media (max-width: 1000px) {.landing-media-section .preview-thumbnail .video-copy > .video-description {font-size: 14pt;}}
.landing-media-section .preview-thumbnail .play-icon { position: absolute;top: 5%;right: 8%;}
#landing-video-section-modal iframe {width:100%;}
.bentley-why-partner ol { counter-reset: item; }
.bentley-why-partner li {color: #000;display: block;margin-bottom: .5em;margin-left: 2em;}
.bentley-why-partner li:before {display: inline-block;content: "0" counter(item) "";counter-increment: item;width: 2em;margin-left: -2em;color: #1a2e45;font-size: 18pt;}

