﻿html {
    font-size: 14px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    color: #484848;
    background-color: #f8f8f8;
}
p {
    margin-bottom: 20px;
}
#header {
    background-color: #252525;
    min-height: 60px;
    padding: 0px 20px;
}
#head nav {
    position: relative;
    min-height: 30px;
    padding: 0px 20px;
}
#header nav img {
    width: 130px !important;
    height: auto !important;
    float: left;
    padding: 20px 0px;
}
#header nav ul {
    margin-bottom: 0px;
    float: right;
    -moz-transition: right 0.5s ease-in-out 0s;
    -o-transition: right 0.5s ease-in-out 0s;
    -webkit-transition: right 0.5s ease-in-out 0s;
    transition: right 0.5s ease-in-out 0s;
    right: -100%;
    position: absolute;
    width: 100%;
    top: 62px;
    /*min-width: 50%;*/
    z-index: 100;
    display: block;
    position: static;
    width: auto;
}
#header nav li {
    display: inline;
    list-style-type: none;
    float: left;
    padding: 18px 0px;
    margin: 0 20px;
}
#header nav a {
    color: #ffffff;
    font-size: 1em;
}
#header nav a:hover{
    text-decoration: none !important;
}
#header nav li:last-child a {
    font-weight: 600;
    color: #0ec9df;
}
@media (max-width: 1000px) {
    #header nav ul {
        display: none;
    }
}
#footer {
    margin: 0;
    width: 100%;
    /*position: absolute;*/
    left: 0;
    right: 0;
    color: #ffffff;
    background-color: #484848;
    text-align: center;
    -moz-background-clip: content-box;
    -webkit-background-clip: content-box;
    background-clip: content-box;
    padding: 0px;
    line-height: 1.5em;
}
#footer p {
    font-size: 1.1em;
}
#footer a {
    color: #ffffff;
}
#footer .footer-content {
    padding: 20px 20px 0;
}
@media (min-width: 768px) {
    #footer .footer-content {
        padding: 50px 60px 0;
    }
}
#footer nav {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.1em;
    text-transform: uppercase;
}
#footer nav ul li {
    display: inline;
    list-style-type: none;
}
#footer nav ul li:first-child:before {
    content: '';
}
#footer nav ul li:before {
    content: '|';
    font-weight: bold;
    margin-left: 10px;
    margin-right: 15px;
}
#footer nav a {
    color: #fff;
    font-weight: bold;
}
#footer nav a:hover {
    text-decoration: none !important;
}
#footer .disclaimer {
    font-size: 1rem;
    padding-bottom: 20px;
}
.button {
    padding: 10px 20px;
    display: inline-block;
    text-align: center;
    font-size: 1.5rem;
}

.button,
.button:hover,
.button:active {
    text-decoration: none;
}


.lp-intro-with-video {
    background-color: #000;
    color: #fff;
}
.lp-intro-with-video .section {
    padding: 60px;
}
.lp-intro-with-video h1.headline1 {
    font-size: 3.5em;
    font-weight: 700;
    padding-left: 10%;
}
@media only screen and (max-width: 1000px){ .lp-intro-with-video h1.headline1 { font-size: 3em; }  }
@media only screen and (max-width: 800px){ .lp-intro-with-video h1.headline1 { font-size: 2em; padding-left: 0; text-align: center; }  }
@media only screen and (max-width: 600px){ .lp-intro-with-video h1.headline1 { font-size: 1.5em; padding-left: 0; text-align: center;}  }
.lp-intro-with-video h1.headline2 {
    color: #20f375;
    font-size: 13em;
    font-weight: 700;
    text-align: right;
    padding-right: 10%;
    line-height: 1;
    margin-top: -20px;
}
@media only screen and (max-width: 1000px){ .lp-intro-with-video h1.headline2 { font-size: 10em; }  }
@media only screen and (max-width: 800px){ .lp-intro-with-video h1.headline2 { font-size: 7em; padding-right: 0; text-align: center;}  }
@media only screen and (max-width: 600px){ .lp-intro-with-video h1.headline2 { font-size: 3em; padding-right: 0; text-align: center;}  }
.lp-intro-with-video .bg-image-blurred-edge {
    background-size: cover;
    box-shadow: -32px -64px 150px 50px black inset;
    min-height: 550px;
}
@media only screen and (max-width: 1000px){ .lp-intro-with-video .bg-image-blurred-edge { min-height: 450px; }  }
@media only screen and (max-width: 800px){ .lp-intro-with-video .bg-image-blurred-edge { min-height: 450px;}  }
.lp-intro-with-video .video-cta {
    margin-top: 50px;
}
.lp-intro-with-video .video-cta div {
    margin: 0 auto;
    text-align: center;
}
.lp-intro-with-video .video-cta .video-play-icon {
    width:50px;
    height:50px;
    background-image: url('/Images/play_icon_green.png');
    background-size: cover;
}
.lp-intro-with-video .video-cta div {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #20f375;
}
.lp-intro-with-video .lp-content {
    padding-top: 0;
    margin: 0 auto;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
}
.lp-intro-with-video .lp-content h2 {
    padding-bottom: 10px;
}
.lp-intro-with-video .description-text {
    margin-bottom: 50px;
}
.lp-intro-with-video .description-lower {
    text-transform: uppercase;
    font-size: 1.5em;
}
.lp-intro-with-video .bottom-cta {
    margin-top: 20px;
}
.lp-intro-with-video .bottom-cta,
.lp-intro-with-video .bottom-cta a{
    color: #20f375;
}
.carousel-inner > .item {
    max-height: 450px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media (max-width: 480px) {
    .carousel-inner > .item {
        min-height: 300px !important;
    }
}
.carousel-inner > .item > img {
    margin: 0 auto;
    max-height: 500px;
    opacity: 0;
}
.carousel-caption {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 40px 20px;
    background-color: rgba(0, 0, 0, 0.5);
    text-shadow: none;
    color: white;
}
.carousel-caption.no-overlay {
    background-color: transparent;
}
@media (min-width: 480px) {
    .carousel-caption {
        padding: 40px;
    }
}
@media (min-width: 768px) {
    .carousel-caption {
        padding: 80px;
        padding-bottom: 40px;
    }
}
@media (min-width: 992px) {
    .carousel-caption {
        padding: 120px;
        padding-bottom: 40px;
    }
}
.carousel-caption .caption {
    max-width: 960px;
    margin: 0 auto;
    font-size: 2em;
    line-height: 1em;
}
@media (min-width: 480px) {
    .carousel-caption .caption {
        font-size: 2.5em;
    }
}
@media (min-width: 768px) {
    .carousel-caption .caption {
        font-size: 3.5em;
    }
}
@media (min-width: 992px) {
    .carousel-caption .caption {
        font-size: 4em;
    }
}
.carousel-caption hr {
    width: 50%;
    max-width: 300px;
    margin: 1em auto;
    opacity: 0.5;
    border-top: 1px solid #eee;
}
.carousel-caption .text {
    max-width: 640px;
    margin: 0 auto 1em auto;
    font-size: 1em;
}
.carousel-caption .button {
    background: #0ec9df;
    border: none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #ffffff;
    letter-spacing: 1px;
    margin: auto;
    padding: 7px 25px;
    text-transform: uppercase;
}
@media (min-width: 480px) {
    .carousel-caption .text {
        padding: 0 40px;
        font-size: 1.2em;
    }
}

.carousel-control {
    z-index: 10;
}
.carousel-control .icon-prev,
.carousel-control .icon-next {
    width: auto;
    height: auto;
    margin-top: -25%;
    font-size: 2em;
    top: auto;
    bottom: 10px;
}

@media (min-width: 768px) {
    .carousel-control .icon-prev,
    .carousel-control .icon-next {
        top: 50%;
        bottom: auto;
    }
}










.carousel-control {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 15%;
    opacity: .5;
    filter: alpha(opacity=50);
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

.carousel-inner > .carousel-item {
    max-height: 450px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 480px) {
    .carousel-inner > .carousel-item {
        min-height: 300px !important;
    }
}

.carousel-inner > .carousel-item > img {
    width: 100%;
    margin: 0 auto;
    max-height: 500px;
    opacity: 0;
}

.carousel-control-prev.left {
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,.5) 0%,rgba(0,0,0,.0001) 100%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,.5) 0%,rgba(0,0,0,.0001) 100%);
    background-image: linear-gradient(to right,rgba(0,0,0,.5) 0%,rgba(0,0,0,.0001) 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000',endColorstr='#00000000',GradientType=1);
}

.carousel-control-next.right {
    left: auto;
    right: 0;
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,.0001) 0%,rgba(0,0,0,.5) 100%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,.0001) 0%,rgba(0,0,0,.5) 100%);
    background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0%,rgba(0,0,0,.5) 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000',endColorstr='#80000000',GradientType=1);
}